@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 50% 96%;
    --secondary-foreground: 262 60% 30%;
    --muted: 40 20% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 262 50% 94%;
    --accent-foreground: 262 70% 35%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 14% 90%;
    --input: 40 14% 86%;
    --ring: 262 83% 58%;
    --radius: 0.75rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: Vazirmatn, tahoma, sans-serif;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
